GITHUB_PERSONAL_ACCESS_TOKEN=replace_with_token
INGESTION_GITHUB_ENABLED=true
INGESTION_GITHUB_REPOSITORY=pavankumar793/slack-rag-assistant
INGESTION_GITHUB_BASE_BRANCH=main
INGESTION_GITHUB_TARGET_FOLDER=docs
INGESTION_GITHUB_BRANCH_PREFIX=ingestion
